{% extends './_partials/account_form_base.html' %}

{% block page_title %}Reset Password{% endblock page_title %}

{% block form_title %}Reset Password{% endblock form_title %}

{% block form %}
<form method="POST" action="{% url 'account_reset_password' %}" class="grid grid-cols-1 gap-4 mt-8">
	{% csrf_token %}

	{{ form.as_div }}

	<button class="button" type="submit">Reset Password</button>
	<div class="flex justify-between items-center w-full">
		<a class="text-sm text-slate-600 hover:underline" href="{% url 'account_login' %}">
			Log In
		</a>
		<a class="text-sm text-slate-600 hover:underline" href="{% url 'account_signup' %}">
			Create Account
		</a>
	</div>

</form>
{% endblock form %}
