{% extends './_partials/account_form_base.html' %}

{% block page_title %}Reset Password{% endblock page_title %}

{% block form_title %}Reset Password{% endblock form_title %}

{% block form %}
{% if token_fail %}
<p class="mt-2">
	The password reset link was invalid, possibly because it has already been used.  Please request a
	<a class="underline text-indigo-700" href="{% url 'account_reset_password' %}">new password reset</a>.</p>
</p>
{% else %}
<form method="POST" action="{{ action_url }}" class="grid grid-cols-1 gap-4 mt-8">
	{% csrf_token %}

	{{ form.as_div }}

	<button class="button" type="submit">Reset Password</button>
</form>
{% endif %}
{% endblock form %}
