# flyctl launch added from .gitignore
# Build / vendor artifacts:
**/node_modules
**/__pycache__

# Distribution / packaging
**/.Python
**/build
**/dist

# Development
**/*.log
**/*.sqlite3
**/.env.*
**/.ruff_cache
**/.coverage

# Editors
**/.vscode

# Django
**/staticfiles
**/.pytest_cache
**/emails

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*

# flyctl launch added from .ruff_cache/.gitignore
.ruff_cache/**/*
fly.toml

.env
