{% extends 'layout/base-fullscreen.html' %}
{% load static %} {% load icons %}


{% block body %}

{% include "layout/partials/header.html" %}

{% if messages %}
<ul class="messages-list text-sm absolute bottom-5 right-5 max-w-sm animate-fade-in">
	{% for message in messages %}
		<li
			x-data='{ show: true }'
			x-show='show'
			class="{{ message.tags }} rounded py-1 px-2 my-1 flex items-center gap-4">
			<button aria-label="Close message" @click="show = false">
				{% icon 'x-mark' 'w-4 h-4' %}
			</button>
			{{ message }}
		</li>
	{% endfor %}
</ul>
{% endif %}

<main class="flex flex-1">
	{% block content %}
	{% endblock %}
</main>
{% include "layout/partials/footer.html" %}

{% endblock body %}
