{% extends "layout/base.html" %}
{% load static %}

{% block content %}

<h1 class="sr-only">Elf</h1>
<div class="flex items-center justify-center w-full h-full">
	<div class="flex flex-col w-full max-w-md p-4">
		<section id="my-lists">
			{% with section_title='My Lists' empty_text="You don't have any lists yet." lists=owned_lists show_create_button=True %}
				{% include 'lists/partials/list_section.html' %}
			{% endwith %}
		</section>
		<section class="mt-4" id="shared-lists">
			{% with section_title='Shared With Me' empty_text="No lists have been shared with you yet." lists=shared_lists %}
				{% include 'lists/partials/list_section.html' %}
			{% endwith %}
		</section>
	</div>
</div>

{% endblock %}
